/*! sysacss v0.1.0 | MIT License | github.com/shoaiyb/sysacss */

.ss-btn {
  color: #fff;
  font-weight: 400;
  background-color: #212529;
  border: 1px solid #212529;
  border-radius: 4px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.ss-btn:hover {
  color: #fff;
  background-color: #1c1f23;
  border-color: #1a1e21;
}

.ss-btn:disabled {
  color: #fff;
  background-color: #212529;
  border-color: #212529;
  pointer-events: none;
  opacity: 0.65;
}

.ss-btn.ss-outlined,.ss-btn.ss-outline:hover {
  color: #212529;
  background-color: transparent;
  border-color: #212529;
}

.ss-btn.ss-outline,.ss-btn.ss-outlined:hover {
  color: #fff;
  background-color: #212529;
  border-color: #212529;
}

.ss-btn.ss-outlined:disabled {
  color: #212529;
  background-color: transparent;
}

.ss-button {
  border: none;
  overflow: hidden;
  color: inherit;
  background-color: inherit;
  white-space: nowrap;
}

.ss-btn,.ss-button {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  padding: 8px 16px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ss-disabled,.ss-button:disabled {
  cursor: not-allowed;
  opacity: 0.3;
}

.ss-disabled *,:disabled * {
  pointer-events: none;
}

.ss-button:hover {
  color: #000!important;
  background-color: #ccc!important;
}
