/*! sysacss v0.1.0 | MIT License | github.com/shoaiyb/sysacss */

.ss-panel:after,.ss-panel:before {
  content: "";
  display: table;
  clear: both;
}

.ss-panel{
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 0.01em 16px;
}
