.ss-blur-0,.ss-hvr-blur-0 {
  filter: blur(0);
}

.ss-blur-1,.ss-hvr-blur-1 {
  filter: blur(1px);
}

.ss-blur-2,.ss-hvr-blur-2 {
  filter: blur(2px);
}

.ss-blur-3,.ss-hvr-blur-3 {
  filter: blur(3px);
}

.ss-blur-4,.ss-hvr-blur-4 {
  filter: blur(4px);
}

.ss-blur-5,.ss-hvr-blur-5 {
  filter: blur(5px);
}

.ss-blur-6,.ss-hvr-blur-6 {
  filter: blur(6px);
}

.ss-blur-7,.ss-hvr-blur-7 {
  filter: blur(7px);
}

.ss-blur-8,.ss-hvr-blur-8 {
  filter: blur(8px);
}

.ss-blur-9,.ss-hvr-blur-9 {
  filter: blur(9px);
}

.ss-blur-10,.ss-hvr-blur-10 {
  filter: blur(10px);
}
