.ss-btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  background-color: #212529;
  border: 1px solid #212529;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.ss-btn:hover {
  color: #fff;
  background-color: #1c1f23;
  border-color: #1a1e21;
}

.ss-btn:disabled, .btn-disabled {
  color: #fff;
  background-color: #212529;
  border-color: #212529;
  pointer-events: none;
  opacity: 0.65;
}
