.ss-code {
  color: #414a63;
  background: #f9fafb;
  border: 1px solid transparent;
  border-radius: 3px;
  display: block;
  max-width: 100%;
  padding: 15px 24px;
  text-align: left;
  word-spacing: normal;
  word-break: normal;
  white-space: pre;
  overflow-x: scroll;
  overflow: auto;
}
