.ss-amber,.ss-hvr-amber:hover {
  color: #ffc107!important;
}

.ss-aqua,.ss-hvr-aqua:hover {
  color: #00ffff!important;
}

.ss-black,.ss-hvr-black:hover {
  color: #000!important;
}

.ss-blue,.ss-hvr-blue:hover {
  color: #2196F3!important;
}

.ss-light-blue,.ss-hvr-light-blue:hover {
  color: #87CEEB!important;
}

.ss-brown,.ss-hvr-brown:hover {
  color: #795548!important;
}

.ss-cyan,.ss-hvr-cyan:hover {
  color: #00bcd4!important;
}

.ss-green,.ss-hvr-green:hover {
  color: #10b981!important;
}

.ss-light-green,.ss-hvr-light-green:hover {
  color: #34d399!important;
}

.ss-grey,.ss-hvr-grey:hover {
  color: #c0c0c0!important;
}

.ss-light-grey,.ss-hvr-light-grey:hover {
  color: #f1f1f1!important;
}

.ss-blue-grey,.ss-hvr-blue-grey:hover {
  color: #607d8b!important;
}

.ss-dark-grey,.ss-hvr-dark-grey:hover {
  color: #3a3a3a!important;
}

.ss-indigo,.ss-hvr-indigo:hover {
  color: #3f51b5!important;
}

.ss-khaki,.ss-hvr-khaki:hover {
  color: #b4aa50!important;
}

.ss-lime,.ss-hvr-lime:hover {
  color: #cddc39!important;
}

.ss-maroon,.ss-hvr-brown:hover {
  color: #800000!important;
}

.ss-orange,.ss-hvr-orange:hover {
  color: #ff9800!important;
}

.ss-deep-orange,.ss-hvr-deep-orange:hover {
  color: #ff5722!important;
}

.ss-pink,.ss-hvr-pink:hover {
  color: #e91e63!important;
}

.ss-purple,.ss-hvr-purple:hover {
  color: #9c27b0!important;
}

.ss-deep-purple,.ss-hvr-deep-purple:hover {
  color: #673ab7!important;
}

.ss-red,.ss-hvr-red:hover {
  color: #f44336!important;
}

.ss-sand,.ss-hvr-sand:hover {
  color: #fdf5e6!important;
}

.ss-teal,.ss-hvr-teal:hover {
  color: #009688!important;
}

.ss-white,.ss-hvr-white:hover {
  color: #fff!important;
}

.ss-yellow,.ss-hvr-yellow:hover {
  color: #d2be0e!important;
}

.ss-transparent,.ss-hvr-none:hover {
  background-color: transparent!important;
}

.ss-hvr-none:hover {
  box-shadow: none!important;
}

.ss-bg-amber,.ss-hvr-bg-amber:hover {
  background-color: #ffc107!important;
}

.ss-bg-aqua,.ss-hvr-bg-aqua:hover {
  background-color: #00ffff!important;
}

.ss-bg-black,.ss-hvr-bg-black:hover {
  background-color: #000!important;
}

.ss-bg-blue,.ss-hvr-blue:hover {
  background-color: #2196F3!important;
}

.ss-bg-light-blue,.ss-hvr-bg-light-blue:hover {
  background-color: #87CEEB!important;
}

.ss-bg-brown,.ss-hvr-brown:hover {
  background-color: #795548!important;
}

.ss-bg-cyan,.ss-hvr-bg-cyan:hover {
  background-color: #00bcd4!important;
}

.ss-bg-green,.ss-hvr-bg-green:hover {
  background-color: #4CAF50!important;
}

.ss-bg-light-green,.ss-hvr-bg-light-green:hover {
  background-color: #8bc34a!important;
}

.ss-bg-grey,.ss-hvr-grey:hover {
  background-color: #9e9e9e!important;
}

.ss-bg-light-grey,.ss-hvr-bg-light-grey:hover {
  background-color: #f1f1f1!important;
}

.ss-bg-blue-grey,.ss-hvr-bg-blue-grey:hover {
  background-color: #607d8b!important;
}

.ss-bg-dark-grey,.ss-hvr-bg-dark-grey:hover {
  background-color: #616161!important;
}

.ss-bg-indigo,.ss-hvr-bg-indigo:hover {
  background-color: #3f51b5!important;
}

.ss-bg-khaki,.ss-hvr-bg-khaki:hover {
  background-color: #f0e68c!important;
}

.ss-bg-lime,.ss-hvr-bg-lime:hover {
  background-color: #cddc39!important;
}

.ss-bg-maroon,.ss-hvr-bg-maroon:hover {
  background-color: #800000!important;
}

.ss-bg-orange,.ss-hvr-bg-orange:hover {
  background-color: #ff9800!important;
}

.ss-bg-deep-orange,.ss-hvr-bg-deep-orange:hover {
  background-color: #ff5722!important;
}

.ss-bg-pink,.ss-hvr-bg-pink:hover {
  background-color: #e91e63!important;
}

.ss-bg-purple,.ss-hvr-bg-purple:hover {
  background-color: #9c27b0!important;
}

.ss-bg-deep-purple,.ss-hvr-bg-deep-purple:hover {
  background-color: #673ab7!important;
}

.ss-bg-red,.ss-hvr-bg-red:hover {
  background-color: #f44336!important;
}

.ss-bg-sand,.ss-hvr-bg-sand:hover {
  background-color: #fdf5e6!important;
}

.ss-bg-teal,.ss-hvr-bg-teal:hover {
  background-color: #009688!important;
}

.ss-bg-white,.ss-hvr-bg-white:hover {
  background-color: #fff!important;
}

.ss-bg-yellow,.ss-hvr-bg-yellow:hover {
  background-color: #ffeb3b!important;
}

.ss-bg-pale-red,.ss-hvr-bg-pale-red:hover {
  background-color: #ffdddd!important;
}

.ss-bg-pale-green,.ss-hvr-bg-pale-green:hover {
  background-color: #ddffdd!important;
}

.ss-bg-pale-yellow,.ss-hvr-bg-pale-yellow:hover {
  background-color: #ffffcc!important;
}

.ss-bg-pale-blue,.ss-hvr-bg-pale-blue:hover {
  background-color: #ddffff!important;
}

.ss-border-amber,.ss-hvr-border-amber:hover {
  border-color: #ffc107!important;
}

.ss-border-aqua,.ss-hvr-border-aqua:hover {
  border-color: #00ffff!important;
}

.ss-border-black,.ss-hvr-border-black:hover {
  border-color: #000!important;
}

.ss-border-blue,.ss-hvr-border-blue:hover {
  border-color: #2196F3!important;
}

.ss-border-light-blue,.ss-hvr-border-light-blue:hover {
  border-color: #87CEEB!important;
}

.ss-border-brown,.ss-hvr-border-brown:hover {
  border-color: #795548!important;
}

.ss-border-cyan,.ss-hvr-border-cyan:hover {
  border-color: #00bcd4!important;
}

.ss-border-green,.ss-hvr-border-green:hover {
  border-color: #4CAF50!important;
}

.ss-border-light-green,.ss-hvr-border-light-green:hover {
  border-color: #8bc34a!important;
}

.ss-border-grey,.ss-hvr-border-grey:hover {
  border-color: #9e9e9e!important;
}

.ss-border-light-grey,.ss-hvr-border-light-grey:hover {
  border-color: #f1f1f1!important;
}

.ss-border-blue-grey,.ss-hvr-border-blue-grey:hover {
  border-color: #607d8b!important;
}

.ss-border-dark-grey,.ss-hvr-border-dark-grey:hover {
  border-color: #616161!important;
}

.ss-border-indigo,.ss-hvr-border-indigo:hover {
  border-color: #3f51b5!important;
}

.ss-border-khaki,.ss-hvr-border-khaki:hover {
  border-color: #f0e68c!important;
}

.ss-border-lime,.ss-hvr-border-lime:hover {
  border-color: #cddc39!important;
}

.ss-border-maroon,.ss-hvr-border-maroon:hover {
  border-color: #800000!important;
}

.ss-border-orange,.ss-hvr-border-orange:hover {
  border-color: #ff9800!important;
}

.ss-border-deep-orange,.ss-hvr-border-deep-orange:hover {
  border-color: #ff5722!important;
}

.ss-border-pink,.ss-hvr-border-pink:hover {
  border-color: #e91e63!important;
}

.ss-border-purple,.ss-hvr-border-purple:hover {
  border-color: #9c27b0!important;
}

.ss-border-deep-purple,.ss-hvr-border-deep-purple:hover {
  border-color: #673ab7!important;
}

.ss-border-red,.ss-hvr-border-red:hover {
  border-color: #f44336!important;
}

.ss-border-sand,.ss-hvr-border-sand:hover {
  border-color: #fdf5e6!important;
}

.ss-border-teal,.ss-hvr-border-teal:hover {
  border-color: #009688!important;
}

.ss-border-white,.ss-hvr-border-white:hover {
  border-color: #fff!important;
}

.ss-border-yellow,.ss-hvr-border-yellow:hover {
  border-color: #ffeb3b!important;
}

.ss-border-pale-red,.ss-hvr-border-pale-red:hover {
  border-color: #ffe7e7!important;
}

.ss-border-pale-green,.ss-hvr-border-pale-green:hover {
  border-color: #e7ffe7!important;
}

.ss-border-pale-yellow,.ss-hvr-border-pale-yellow:hover {
  border-color: #ffffcc!important;
}

.ss-border-pale-blue,.ss-hvr-border-pale-blue:hover {
  border-color: #e7ffff!important;
}
