.ss-opacity-0,.ss-hvr-opacity-0:hover {
	opacity: 0;
}

.ss-opacity-1,.ss-hvr-opacity-1:hover {
	opacity: 0.1;
}

.ss-opacity-2,.ss-hvr-opacity-2:hover {
	opacity: 0.2;
}

.ss-opacity-3,.ss-hvr-opacity-3:hover {
	opacity: 0.3;
}

.ss-opacity-4,.ss-hvr-opacity-4:hover {
	opacity: 0.4;
}

.ss-opacity-5,.ss-hvr-opacity-5:hover {
	opacity: 0.5;
}

.ss-opacity-6,.ss-hvr-opacity-6:hover {
	opacity: 0.6;
}

.ss-opacity-7,.ss-hvr-opacity-7:hover {
	opacity: 0.7;
}

.ss-opacity-8,.ss-hvr-opacity-8:hover {
	opacity: 0.8;
}

.ss-opacity-9,.ss-hvr-opacity-9:hover {
	opacity: 0.9;
}

.ss-opacity-10,.ss-hvr-opacity-10:hover {
	opacity: 1;
}

.ss-greyscale-max,.ss-grayscale-max,.ss-hvr-greyscale:hover,.ss-hvr-grayscale:hover {
	filter: grayscale(100%);
}

.ss-greyscale,.ss-grayscale {
	filter: grayscale(75%);
}

.ss-greyscale-min,.ss-grayscale-min {
	filter: grayscale(50%);
}

.ss-sepia {
	filter: sepia(75%);
}

.ss-sepia-max,.ss-hvr-sepia:hover {
	filter: sepia(100%);
}

.ss-sepia-min {
	filter: sepia(50%);
}
