.ss-blockquote {
  border-left: 0.3rem solid #000;
  margin: 0 0 1em;
  padding: 1em 1.5em;
}

.ss-blockquote:last-child {
  margin-bottom: 0;
}

.ss-blockquote.cite {
  color: #bdbec0;
}

.ss-blockquote.cite:before {
  content: "\2014 \00A0";
}
