
/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/
/* ----------------------------------------------- */

/* sidebar */
.sysa-sidebar {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 80px;
    height: 100%;
    border-right: solid rgba(0, 0, 0, 0.07) 1px;
    z-index: 1022;
    background:#fff;
}

/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.sysa-container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .sysa-container {
    width: 85%;
    padding: 0; }

/* For devices larger than 550px */
@media (min-width: 550px) {
  .sysa-container {
    width: 80%; }
  
  
  
  
  
  
  
/* @import url('https://fonts.googleapis.com/css?family=Poppins:400'); */

html {font-size: 100%;} /*16px*/

body {
  background: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
}

p {margin-bottom: 1rem;}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  
h1 {
  margin-top: 0;
  font-size: 1.802rem;
}

h2 {font-size: 1.602rem;}

h3 {font-size: 1.424rem;}

h4 {font-size: 1.266rem;}

h5 {font-size: 1.125rem;}

small, .small-text, .sysa-small {font-size: 0.889rem;}

/* Larger than phablet */
@media (min-width: 550px) {
  h1 { font-size: 5.0rem; }
  h2 { font-size: 4.2rem; }
  h3 { font-size: 3.6rem; }
  h4 { font-size: 3.0rem; }
  h5 { font-size: 2.4rem; }
  h6 { font-size: 1.5rem; }
}
  
  
  
  
  
  
  
  

 body {
margin : 0;
}
body, html {
height : 100%;
}
b, strong {
font-weight : 700;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
display : block;
}
button {
overflow : visible;
}
button, select {
text-transform : none;
}
img {
border : 0;
}
input[type="text"] {
width : 130px;
}
input[type="text"]:focus {
width : 100%;
}
pre {
overflow : auto;
}
code, kbd, pre, samp {
font-family : monospace, monospace;
font-size : 1em;
}
  

  
/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */


/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */


/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */


/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */


/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
