/*! sysacss v1.0 | MIT License | github.com/shoaiyb/css */

html {
	box-sizing: border-box;
}

*,*:before,*:after {
	box-sizing: inherit;
}

html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
}

article,aside,details,figcaption,figure,footer,header,main,menu,nav,section {
	display: block;
}

summary {
	display: list-item;
}

audio,canvas,progress,video {
	display: inline-block;
}

progress {
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],template {
	display: none;
}

a {
	background-color: transparent;
}

a:active,a:hover {
	outline-width: 0;
}

abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted;
}

b,strong {
	font-weight: bolder;
}

dfn {
	font-style: italic;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

figure {
	margin: 1em 40px;
}

img {
	border-style: none;
}

code,kbd,pre,samp {
	font-family: monospace,monospace;
	font-size: 1em;
}

hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

button,input,select,textarea,optgroup {
	font: inherit;
	margin: 0;
}

optgroup {
	font-weight: bold;
}

button,input {
	overflow: visible;
}

button,select {
	text-transform: none;
}

button,[type=button],[type=reset],[type=submit] {
	-webkit-appearance: button;
}

button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: .35em .625em .75em;
}

legend {
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}

textarea {
	overflow: auto;
}

[type=checkbox],[type=radio] {
	padding: 0;
}

[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button {
	height: auto;
}

[type=search] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

html,body {
	font-family: Verdana,sans-serif;
	font-size: 15px;
	line-height: 1.5;
}

html {
	overflow-x: hidden;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

.ss-serif {
	font-family: serif;
}

.ss-sans-serif {
	font-family: sans-serif;
}

.ss-cursive {
	font-family: cursive;
}

.ss-monospace {
	font-family: monospace;
}

h1,h2,h3,h4,h5,h6 {
	font-family: "Segoe UI",Arial,sans-serif;
	font-weight: 400;
	margin: 10px 0;
}

.ss-wide {
	letter-spacing: 4px;
}

hr {
	border: 0;
	border-top: 1px solid #eee;
	margin: 20px 0;
}

.ss-image {
	max-width: 100%;
	height: auto;
}

img {
	vertical-align: middle;
}

a {
	color: inherit;
}

.ss-table,.ss-table-all {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	display: table;
}

.ss-table-all {
	border: 1px solid #ccc;
}

.ss-bordered tr,.ss-table-all tr {
	border-bottom: 1px solid #ddd;
}

.ss-striped tbody tr:nth-child(even) {
	background-color: #f1f1f1;
}

.ss-table-all tr:nth-child(odd) {
	background-color: #fff;
}

.ss-table-all tr:nth-child(even) {
	background-color: #f1f1f1;
}

.ss-hoverable tbody tr:hover,.ss-ul.ss-hoverable li:hover {
	background-color: #ccc;
}

.ss-centered tr th,.ss-centered tr td {
	text-align: center;
}

.ss-table td,.ss-table th,.ss-table-all td,.ss-table-all th {
	padding: 8px 8px;
	display: table-cell;
	text-align: left;
	vertical-align: top;
}

.ss-table th:first-child,.ss-table td:first-child,.ss-table-all th:first-child,.ss-table-all td:first-child {
	padding-left: 16px;
}

.ss-btn,.ss-button {
	border: none;
	display: inline-block;
	padding: 8px 16px;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	color: inherit;
	background-color: inherit;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
}

.ss-btn:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.ss-btn,.ss-button {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.ss-disabled,.ss-btn:disabled,.ss-button:disabled {
	cursor: not-allowed;
	opacity: 0.3;
}

.ss-disabled *,:disabled * {
	pointer-events: none;
}

.ss-btn.ss-disabled:hover,.ss-btn:disabled:hover {
	box-shadow: none;
}

.ss-badge,.ss-tag {
	background-color: #000;
	color: #fff;
	display: inline-block;
	padding-left: 8px;
	padding-right: 8px;
	text-align: center;
}

.ss-badge {
	border-radius: 50%;
}

.ss-ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.ss-ul li {
	padding: 8px 16px;
	border-bottom: 1px solid #ddd;
}

.ss-ul li:last-child {
	border-bottom: none;
}

.ss-tooltip,.ss-display-container {
	position: relative;
}

.ss-tooltip .ss-text {
	display: none;
}

.ss-tooltip:hover .ss-text {
	display: inline-block;
}

.ss-ripple:active {
	opacity: 0.5;
}

.ss-ripple {
	transition: opacity 0s;
}

.ss-input {
	padding: 8px;
	display: block;
	border: none;
	border-bottom: 1px solid #ccc;
	width: 100%;
}

.ss-select {
	padding: 9px 0;
	width: 100%;
	border: none;
	border-bottom: 1px solid #ccc;
}

.ss-dropdown-click,.ss-dropdown-hover {
	position: relative;
	display: inline-block;
	cursor: pointer;
}

.ss-dropdown-hover:hover .ss-dropdown-content {
	display: block;
}

.ss-dropdown-hover:first-child,.ss-dropdown-click:hover {
	background-color: #ccc;
	color: #000;
}

.ss-dropdown-hover:hover > .ss-button:first-child,.ss-dropdown-click:hover > .ss-button:first-child {
	background-color: #ccc;
	color: #000;
}

.ss-dropdown-content {
	cursor: auto;
	color: #000;
	background-color: #fff;
	display: none;
	position: absolute;
	min-width: 160px;
	margin: 0;
	padding: 0;
	z-index: 1;
}

.ss-check,.ss-radio {
	width: 24px;
	height: 24px;
	position: relative;
	top: 6px;
}

.ss-sidebar {
	height: 100%;
	width: 200px;
	background-color: #fff;
	position: fixed!important;
	z-index: 1;
	overflow: auto;
}

.ss-bar-block .ss-dropdown-hover,.ss-bar-block .ss-dropdown-click {
	width: 100%;
}

.ss-bar-block .ss-dropdown-hover .ss-dropdown-content,.ss-bar-block .ss-dropdown-click .ss-dropdown-content {
	min-width: 100%;
}

.ss-bar-block .ss-dropdown-hover .ss-button,.ss-bar-block .ss-dropdown-click .ss-button {
	width: 100%;
	text-align: left;
	padding: 8px 16px;
}

.ss-main,#main {
	transition: margin-left .4s;
}

.ss-modal {
	z-index: 3;
	display: none;
	padding-top: 100px;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}

.ss-modal-content {
	margin: auto;
	background-color: #fff;
	position: relative;
	padding: 0;
	outline: 0;
	width: 600px;
}

.ss-bar {
	width: 100%;
	overflow: hidden;
}

.ss-center .ss-bar {
	display: inline-block;
	width: auto;
}

.ss-bar .ss-bar-item {
	padding: 8px 16px;
	float: left;
	width: auto;
	border: none;
	display: block;
	outline: 0;
}

.ss-bar .ss-dropdown-hover,.ss-bar .ss-dropdown-click {
	position: static;
	float: left;
}

.ss-bar .ss-button {
	white-space: normal;
}

.ss-bar-block .ss-bar-item {
	width: 100%;
	display: block;
	padding: 8px 16px;
	text-align: left;
	border: none;
	white-space: normal;
	float: none;
	outline: 0;
}

.ss-bar-block.ss-center .ss-bar-item {
	text-align: center;
}

.ss-block {
	display: block;
	width: 100%;
}

.ss-responsive {
	display: block;
	overflow-x: auto;
}

.ss-container:after,.ss-container:before,.ss-panel:after,.ss-panel:before,.ss-row:after,.ss-row:before,.ss-row-padding:after,.ss-row-padding:before,
.ss-cell-row:before,.ss-cell-row:after,.ss-clear:after,.ss-clear:before,.ss-bar:before,.ss-bar:after {
	content: "";
	display: table;
	clear: both;
}

.ss-col,.ss-half,.ss-third,.ss-twothird,.ss-threequarter,.ss-quarter {
	float: left;
	width: 100%;
}

.ss-col.s1 {
	width: 8.33333%;
}

.ss-col.s2 {
	width: 16.66666%;
}

.ss-col.s3 {
	width: 24.99999%;
}

.ss-col.s4 {
	width: 33.33333%;
}

.ss-col.s5 {
	width: 41.66666%;
}

.ss-col.s6 {
	width: 49.99999%;
}

.ss-col.s7 {
	width: 58.33333%;
}

.ss-col.s8 {
	width: 66.66666%;
}

.ss-col.s9 {
	width: 74.99999%;
}

.ss-col.s10 {
	width: 83.33333%;
}

.ss-col.s11 {
	width: 91.66666%;
}

.ss-col.s12 {
	width: 99.99999%;
}

@media (min-width:601px) {
	.ss-col.m1 {
		width: 8.33333%;
	}

	.ss-col.m2 {
		width: 16.66666%;
	}

	.ss-col.m3,.ss-quarter {
		width: 24.99999%;
	}

	.ss-col.m4,.ss-third {
		width: 33.33333%;
	}

	.ss-col.m5 {
		width: 41.66666%;
	}

	.ss-col.m6,.ss-half {
		width: 49.99999%;
	}

	.ss-col.m7 {
		width: 58.33333%;
	}

	.ss-col.m8,.ss-twothird {
		width: 66.66666%;
	}

	.ss-col.m9,.ss-threequarter {
		width: 74.99999%;
	}

	.ss-col.m10 {
		width: 83.33333%;
	}

	.ss-col.m11 {
		width: 91.66666%;
	}

	.ss-col.m12 {
		width: 99.99999%;
	}
}

@media (min-width:993px) {
	.ss-col.l1 {
		width: 8.33333%;
	}

	.ss-col.l2 {
		width: 16.66666%;
	}

	.ss-col.l3 {
		width: 24.99999%;
	}

	.ss-col.l4 {
		width: 33.33333%;
	}

	.ss-col.l5 {
		width: 41.66666%;
	}

	.ss-col.l6 {
		width: 49.99999%;
	}

	.ss-col.l7 {
		width: 58.33333%;
	}

	.ss-col.l8 {
		width: 66.66666%;
	}

	.ss-col.l9 {
		width: 74.99999%;
	}

	.ss-col.l10 {
		width: 83.33333%;
	}

	.ss-col.l11 {
		width: 91.66666%;
	}

	.ss-col.l12 {
		width: 99.99999%;
	}
}

.ss-rest {
	overflow: hidden;
}

.ss-stretch {
	margin-left: -16px;
	margin-right: -16px;
}

.ss-content,.ss-auto {
	margin-left: auto;
	margin-right: auto;
}

.ss-content {
	max-width: 980px;
}

.ss-auto {
	max-width: 1140px;
}

.ss-cell-row {
	display: table;
	width: 100%;
}

.ss-cell {
	display: table-cell;
}

.ss-cell-top {
	vertical-align: top;
}

.ss-cell-middle {
	vertical-align: middle;
}

.ss-cell-bottom {
	vertical-align: bottom;
}

.ss-hide {
	display: none!important;
}

.ss-show-block,.ss-show {
	display: block!important;
}

.ss-show-inline-block {
	display: inline-block!important;
}

@media (max-width:1205px) {
	.ss-auto {
		max-width: 95%;
	}
}

@media (max-width:600px) {
	.ss-modal-content {
		margin: 0 10px;
		width: auto!important;
	}

	.ss-modal {
		padding-top: 30px;
	}

	.ss-dropdown-hover.ss-mobile .ss-dropdown-content,.ss-dropdown-click.ss-mobile .ss-dropdown-content {
		position: relative;
	}

	.ss-hide-small {
		display: none!important;
	}

	.ss-mobile {
		display: block;
		width: 100%!important;
	}

	.ss-bar-item.ss-mobile,.ss-dropdown-hover.ss-mobile,.ss-dropdown-click.ss-mobile {
		text-align: center;
	}

	.ss-dropdown-hover.ss-mobile,.ss-dropdown-hover.ss-mobile .ss-btn,.ss-dropdown-hover.ss-mobile .ss-button,.ss-dropdown-click.ss-mobile,.ss-dropdown-click.ss-mobile .ss-btn,.ss-dropdown-click.ss-mobile .ss-button {
		width: 100%;
	}
}

@media (max-width:768px) {
	.ss-modal-content {
		width: 500px;
	}

	.ss-modal {
		padding-top: 50px;
	}
}

@media (min-width:993px) {
	.ss-modal-content {
		width: 900px;
	}

	.ss-hide-large {
		display: none!important;
	}

	.ss-sidebar.ss-collapse {
		display: block!important;
	}
}

@media (max-width:992px) and (min-width:601px) {
	.ss-hide-medium {
		display: none!important;
	}
}

@media (max-width:992px) {
	.ss-sidebar.ss-collapse {
		display: none;
	}

	.ss-main {
		margin-left: 0!important;
		margin-right: 0!important;
	}

	.ss-auto {
		max-width: 100%;
	}
}

.ss-top,.ss-bottom {
	position: fixed;
	width: 100%;
	z-index: 1;
}

.ss-top {
	top: 0;
}

.ss-bottom {
	bottom: 0;
}

.ss-overlay {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 2;
}

.ss-display-topleft {
	position: absolute;
	left: 0;
	top: 0;
}

.ss-display-topright {
	position: absolute;
	right: 0;
	top: 0;
}

.ss-display-bottomleft {
	position: absolute;
	left: 0;
	bottom: 0;
}

.ss-display-bottomright {
	position: absolute;
	right: 0;
	bottom: 0;
}

.ss-display-middle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
}

.ss-display-left {
	position: absolute;
	top: 50%;
	left: 0%;
	transform: translate(0%,-50%);
	-ms-transform: translate(-0%,-50%);
}

.ss-display-right {
	position: absolute;
	top: 50%;
	right: 0%;
	transform: translate(0%,-50%);
	-ms-transform: translate(0%,-50%);
}

.ss-display-topmiddle {
	position: absolute;
	left: 50%;
	top: 0;
	transform: translate(-50%,0%);
	-ms-transform: translate(-50%,0%);
}

.ss-display-bottommiddle {
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translate(-50%,0%);
	-ms-transform: translate(-50%,0%);
}

.ss-display-container:hover .ss-display-hover {
	display: block;
}

.ss-display-container:hover span.ss-display-hover {
	display: inline-block;
}

.ss-display-hover {
	display: none;
}

.ss-display-position {
	position: absolute;
}

.ss-circle {
	border-radius: 50%;
}

.ss-round-small {
	border-radius: 2px;
}

.ss-round,.ss-round-medium {
	border-radius: 4px;
}

.ss-round-large {
	border-radius: 8px;
}

.ss-round-xlarge {
	border-radius: 16px;
}

.ss-round-xxlarge {
	border-radius: 32px;
}

.ss-row-padding,.ss-row-padding>.ss-half,.ss-row-padding>.ss-third,.ss-row-padding>.ss-twothird,.ss-row-padding>.ss-threequarter,.ss-row-padding>.ss-quarter,.ss-row-padding>.ss-col {
	padding: 0 8px;
}

.ss-container,.ss-panel {
	padding: 0.01em 16px;
}

.ss-panel {
	margin-top: 16px;
	margin-bottom: 16px;
}

.ss-code,.ss-codespan {
	font-family: Consolas,"courier new";
	font-size: 16px;
}

.ss-code {
	width: auto;
	background-color: #fff;
	padding: 8px 12px;
	border-left: 4px solid #4CAF50;
	word-wrap: break-word;
}

.ss-codespan {
	color: crimson;
	background-color: #f1f1f1;
	padding-left: 4px;
	padding-right: 4px;
	font-size: 110%;
}

.ss-card,.ss-card-2 {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.ss-card-4,.ss-hvr-shadow:hover {
	box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
}

.ss-spin {
	animation: ss-spin 2s infinite linear;
}

@keyframes ss-spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(359deg);
	}
}

.ss-anim-fading {
	animation: animfading 10s infinite;
}

@keyframes animfading {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

.ss-anim-opacity {
	animation: animopac 0.8s;
}

@keyframes animopac {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.ss-anim-top {
	position: relative;
	animation: animtop 0.4s;
}

@keyframes animtop {
	from {
		top: -300px;
		opacity: 0;
	}

	to {
		top: 0;
		opacity: 1;
	}
}

.ss-anim-left {
	position: relative;
	animation: animleft 0.4s;
}

@keyframes animleft {
	from {
		left: -300px;
		opacity: 0;
	}

	to {
		left: 0;
		opacity: 1;
	}
}

.ss-anim-right {
	position: relative;
	animation: animright 0.4s;
}

@keyframes animright {
	from {
		right: -300px;
		opacity: 0;
	}

	to {
		right: 0;
		opacity: 1;
	}
}

.ss-anim-bottom {
	position: relative;
	animation: animbottom 0.4s;
}

@keyframes animbottom {
	from {
		bottom: -300px;
		opacity: 0;
	}

	to {
		bottom: 0;
		opacity: 1;
	}
}

.ss-anim-zoom {
	animation: animzoom 0.6s;
}

@keyframes animzoom {
	from {
		transform: scale(0);
	}

	to {
		transform: scale(1);
	}
}

.ss-anim-input {
	transition: width 0.4s ease-in-out;
}

.ss-anim-input:focus {
	width: 100%!important;
}

.ss-opacity,.ss-hvr-opacity:hover {
	opacity: 0.60;
}

.ss-opacity-off,.ss-hvr-opacity-off:hover {
	opacity: 1;
}

.ss-opacity-max {
	opacity: 0.25;
}

.ss-opacity-min {
	opacity: 0.75;
}

.ss-greyscale-max,.ss-grayscale-max,.ss-hvr-greyscale:hover,.ss-hvr-grayscale:hover {
	filter: grayscale(100%);
}

.ss-greyscale,.ss-grayscale {
	filter: grayscale(75%);
}

.ss-greyscale-min,.ss-grayscale-min {
	filter: grayscale(50%);
}

.ss-sepia {
	filter: sepia(75%);
}

.ss-sepia-max,.ss-hvr-sepia:hover {
	filter: sepia(100%);
}

.ss-sepia-min {
	filter: sepia(50%);
}

.ss-uppercase,.ss-hvr-uppercase:hover {
	text-transform: uppercase!important;
}

.ss-lowercase,.ss-hvr-lowercase:hover {
	text-transform: lowercase!important;
}

.ss-underline,.ss-hvr-underline:hover {
	text-decoration: underline!important;
}

.ss-no-underline,.ss-hvr-no-underline:hover {
	text-decoration: none!important;
}

.ss-capitalize,.ss-hvr-capitalize:hover {
	text-transform: capitalize!important;
}

.ss-tiny {
	font-size: 10px!important;
}

.ss-small {
	font-size: 12px!important;
}

.ss-medium {
	font-size: 15px!important;
}

.ss-large {
	font-size: 18px!important;
}

.ss-xlarge {
	font-size: 24px!important;
}

.ss-xxlarge {
	font-size: 36px!important;
}

.ss-xxxlarge {
	font-size: 48px!important;
}

.ss-jumbo {
	font-size: 64px!important;
}

.ss-left-align {
	text-align: left!important;
}

.ss-right-align {
	text-align: right!important;
}

.ss-justify {
	text-align: justify!important;
}

.ss-center {
	text-align: center!important;
}

.ss-border-0 {
	border: 0!important;
}

.ss-border {
	border: 1px solid #ccc!important;
}

.ss-border-top {
	border-top: 1px solid #ccc!important;
}

.ss-border-bottom {
	border-bottom: 1px solid #ccc!important;
}

.ss-border-left {
	border-left: 1px solid #ccc!important;
}

.ss-border-right {
	border-right: 1px solid #ccc!important;
}

.ss-topbar {
	border-top: 6px solid #ccc!important;
}

.ss-bottombar {
	border-bottom: 6px solid #ccc!important;
}

.ss-leftbar {
	border-left: 6px solid #ccc!important;
}

.ss-rightbar {
	border-right: 6px solid #ccc!important;
}

.ss-section,.ss-code {
	margin-top: 16px!important;
	margin-bottom: 16px!important;
}


/* NCA */

.ss-margin {
	margin: 16px!important;
}

.ss-margin-top {
	margin-top: 16px!important;
}

.ss-margin-bottom {
	margin-bottom: 16px!important;
}

.ss-margin-left {
	margin-left: 16px!important;
}

.ss-margin-right {
	margin-right: 16px!important;
}

.ss-padding-small {
	padding: 4px 8px!important;
}

.ss-padding {
	padding: 8px 16px!important;
}

.ss-padding-large {
	padding: 12px 24px!important;
}


/* PB */

.ss-pb-16 {
	padding-bottom: 16px!important;
}

.ss-pb-24 {
	padding-bottom: 24px!important;
}

.ss-pb-32 {
	padding-bottom: 32px!important;
}

.ss-pb-48 {
	padding-bottom: 48px!important;
}

.ss-pb-64 {
	padding-bottom: 64px!important;
}


/* PT */

.ss-pt-64 {
	padding-top: 64px!important;
}

.ss-pt-48 {
	padding-top: 48px!important;
}

.ss-pt-32 {
	padding-top: 32px!important;
}

.ss-pt-24 {
	padding-top: 24px!important;
}

.ss-left {
	float: left!important;
}

.ss-right {
	float: right!important;
}

.ss-button:hover {
	color: #000!important;
	background-color: #ccc!important;
}


/* BG COLOR */

.ss-transparent,.ss-hvr-none:hover {
	background-color: transparent!important;
}

.ss-hvr-none:hover {
	box-shadow: none!important;
}

.ss-bg-amber,.ss-hvr-bg-amber:hover {
	background-color: #ffc107!important;
}

.ss-bg-aqua,.ss-hvr-bg-aqua:hover {
	background-color: #00ffff!important;
}

.ss-bg-blue,.ss-hvr-blue:hover {
	background-color: #2196F3!important;
}

.ss-bg-light-blue,.ss-hvr-bg-light-blue:hover {
	background-color: #87CEEB!important;
}

.ss-bg-brown,.ss-hvr-brown:hover {
	background-color: #795548!important;
}

.ss-bg-cyan,.ss-hvr-bg-cyan:hover {
	background-color: #00bcd4!important;
}

.ss-bg-blue-grey,.ss-hvr-bg-blue-grey:hover,.ss-bg-blue-gray,.ss-hvr-bg-blue-gray:hover {
	background-color: #607d8b!important;
}

.ss-bg-green,.ss-hvr-bg-green:hover {
	background-color: #4CAF50!important;
}

.ss-bg-light-green,.ss-hvr-bg-light-green:hover {
	background-color: #8bc34a!important;
}

.ss-bg-indigo,.ss-hvr-bg-indigo:hover {
	background-color: #3f51b5!important;
}

.ss-bg-khaki,.ss-hvr-bg-khaki:hover {
	background-color: #f0e68c!important;
}

.ss-bg-lime,.ss-hvr-bg-lime:hover {
	background-color: #cddc39!important;
}

.ss-bg-maroon,.ss-hvr-bg-maroon:hover {
	background-color: #800000!important;
}

.ss-bg-orange,.ss-hvr-bg-orange:hover {
	background-color: #ff9800!important;
}

.ss-bg-deep-orange,.ss-hvr-bg-deep-orange:hover {
	background-color: #ff5722!important;
}

.ss-bg-pink,.ss-hvr-bg-pink:hover {
	background-color: #e91e63!important;
}

.ss-bg-purple,.ss-hvr-bg-purple:hover {
	background-color: #9c27b0!important;
}

.ss-bg-deep-purple,.ss-hvr-bg-deep-purple:hover {
	background-color: #673ab7!important;
}

.ss-bg-red,.ss-hvr-bg-red:hover {
	background-color: #f44336!important;
}

.ss-bg-sand,.ss-hvr-bg-sand:hover {
	background-color: #fdf5e6!important;
}

.ss-bg-teal,.ss-hvr-bg-teal:hover {
	background-color: #009688!important;
}

.ss-bg-yellow,.ss-hvr-bg-yellow:hover {
	background-color: #ffeb3b!important;
}

.ss-bg-white,.ss-hvr-bg-white:hover {
	background-color: #fff!important;
}

.ss-bg-black,.ss-hvr-bg-black:hover {
	background-color: #000!important;
}

.ss-bg-grey,.ss-hvr-grey:hover,.ss-bg-gray,.ss-hvr-bg-gray:hover {
	background-color: #9e9e9e!important;
}

.ss-bg-light-grey,.ss-hvr-bg-light-grey:hover,.ss-bg-light-gray,.ss-hvr-bg-light-gray:hover {
	background-color: #f1f1f1!important;
}

.ss-bg-dark-grey,.ss-hvr-bg-dark-grey:hover,.ss-dark-gray,.ss-hvr-dark-gray:hover {
	background-color: #616161!important;
}

.ss-bg-pale-red,.ss-hvr-bg-pale-red:hover {
	background-color: #ffdddd!important;
}

.ss-bg-pale-green,.ss-hvr-bg-pale-green:hover {
	background-color: #ddffdd!important;
}

.ss-bg-pale-yellow,.ss-hvr-bg-pale-yellow:hover {
	background-color: #ffffcc!important;
}

.ss-bg-pale-blue,.ss-hvr-bg-pale-blue:hover {
	background-color: #ddffff!important;
}


/* COLOR */

.ss-amber,.ss-hvr-amber:hover {
	color: #ffc107!important;
}

.ss-aqua,.ss-hvr-aqua:hover {
	color: #00ffff!important;
}

.ss-blue,.ss-hvr-blue:hover {
	color: #2196F3!important;
}

.ss-light-blue,.ss-hvr-light-blue:hover {
	color: #87CEEB!important;
}

.ss-brown,.ss-hvr-brown:hover {
	color: #795548!important;
}

.ss-maroon,.ss-hvr-brown:hover {
	color: #800000!important;
}

.ss-cyan,.ss-hvr-cyan:hover {
	color: #00bcd4!important;
}

.ss-blue-grey,.ss-hvr-blue-grey:hover,.ss-blue-gray,.ss-hvr-blue-gray:hover {
	color: #607d8b!important;
}

.ss-green,.ss-hvr-green:hover {
	color: #4CAF50!important;
}

.ss-light-green,.ss-hvr-light-green:hover {
	color: #8bc34a!important;
}

.ss-indigo,.ss-hvr-indigo:hover {
	color: #3f51b5!important;
}

.ss-khaki,.ss-hvr-khaki:hover {
	color: #b4aa50!important;
}

.ss-lime,.ss-hvr-lime:hover {
	color: #cddc39!important;
}

.ss-orange,.ss-hvr-orange:hover {
	color: #ff9800!important;
}

.ss-deep-orange,.ss-hvr-deep-orange:hover {
	color: #ff5722!important;
}

.ss-pink,.ss-hvr-pink:hover {
	color: #e91e63!important;
}

.ss-purple,.ss-hvr-purple:hover {
	color: #9c27b0!important;
}

.ss-deep-purple,.ss-hvr-deep-purple:hover {
	color: #673ab7!important;
}

.ss-red,.ss-hvr-red:hover {
	color: #f44336!important;
}

.ss-sand,.ss-hvr-sand:hover {
	color: #fdf5e6!important;
}

.ss-teal,.ss-hvr-teal:hover {
	color: #009688!important;
}

.ss-yellow,.ss-hvr-yellow:hover {
	color: #d2be0e!important;
}

.ss-white,.ss-hvr-white:hover {
	color: #fff!important;
}

.ss-black,.ss-hvr-black:hover {
	color: #000!important;
}

.ss-grey,.ss-hvr-grey:hover,.ss-gray,.ss-hvr-gray:hover {
	color: #757575!important;
}

.ss-light-grey,.ss-hvr-light-grey:hover,.ss-light-gray,.ss-hvr-light-gray:hover {
	color: #f1f1f1!important;
}

.ss-dark-grey,.ss-hvr-dark-grey:hover,.ss-dark-gray,.ss-hvr-dark-gray:hover {
	color: #3a3a3a!important;
}


/* BORDER */

.ss-border-amber,.ss-hvr-border-amber:hover {
	border-color: #ffc107!important;
}

.ss-border-aqua,.ss-hvr-border-aqua:hover {
	border-color: #00ffff!important;
}

.ss-border-blue,.ss-hvr-border-blue:hover {
	border-color: #2196F3!important;
}

.ss-border-light-blue,.ss-hvr-border-light-blue:hover {
	border-color: #87CEEB!important;
}

.ss-border-brown,.ss-hvr-border-brown:hover {
	border-color: #795548!important;
}

.ss-border-maroon,.ss-hvr-border-maroon:hover {
	border-color: #800000!important;
}

.ss-border-cyan,.ss-hvr-border-cyan:hover {
	border-color: #00bcd4!important;
}

.ss-border-blue-grey,.ss-hvr-border-blue-grey:hover,.ss-border-blue-gray,.ss-hvr-border-blue-gray:hover {
	border-color: #607d8b!important;
}

.ss-border-green,.ss-hvr-border-green:hover {
	border-color: #4CAF50!important;
}

.ss-border-light-green,.ss-hvr-border-light-green:hover {
	border-color: #8bc34a!important;
}

.ss-border-indigo,.ss-hvr-border-indigo:hover {
	border-color: #3f51b5!important;
}

.ss-border-khaki,.ss-hvr-border-khaki:hover {
	border-color: #f0e68c!important;
}

.ss-border-lime,.ss-hvr-border-lime:hover {
	border-color: #cddc39!important;
}

.ss-border-orange,.ss-hvr-border-orange:hover {
	border-color: #ff9800!important;
}

.ss-border-deep-orange,.ss-hvr-border-deep-orange:hover {
	border-color: #ff5722!important;
}

.ss-border-pink,.ss-hvr-border-pink:hover {
	border-color: #e91e63!important;
}

.ss-border-purple,.ss-hvr-border-purple:hover {
	border-color: #9c27b0!important;
}

.ss-border-deep-purple,.ss-hvr-border-deep-purple:hover {
	border-color: #673ab7!important;
}

.ss-border-red,.ss-hvr-border-red:hover {
	border-color: #f44336!important;
}

.ss-border-sand,.ss-hvr-border-sand:hover {
	border-color: #fdf5e6!important;
}

.ss-border-teal,.ss-hvr-border-teal:hover {
	border-color: #009688!important;
}

.ss-border-yellow,.ss-hvr-border-yellow:hover {
	border-color: #ffeb3b!important;
}

.ss-border-white,.ss-hvr-border-white:hover {
	border-color: #fff!important;
}

.ss-border-black,.ss-hvr-border-black:hover {
	border-color: #000!important;
}

.ss-border-grey,.ss-hvr-border-grey:hover,.ss-border-gray,.ss-hvr-border-gray:hover {
	border-color: #9e9e9e!important;
}

.ss-border-light-grey,.ss-hvr-border-light-grey:hover,.ss-border-light-gray,.ss-hvr-border-light-gray:hover {
	border-color: #f1f1f1!important;
}

.ss-border-dark-grey,.ss-hvr-border-dark-grey:hover,.ss-border-dark-gray,.ss-hvr-border-dark-gray:hover {
	border-color: #616161!important;
}

.ss-border-pale-red,.ss-hvr-border-pale-red:hover {
	border-color: #ffe7e7!important;
}

.ss-border-pale-green,.ss-hvr-border-pale-green:hover {
	border-color: #e7ffe7!important;
}

.ss-border-pale-yellow,.ss-hvr-border-pale-yellow:hover {
	border-color: #ffffcc!important;
}

.ss-border-pale-blue,.ss-hvr-border-pale-blue:hover {
	border-color: #e7ffff!important;
}
