.ss-h-0 {
  height: 0;
}

.ss-h-1 {
  height: 10%;
}

.ss-h-2 {
  height: 20%;
}

.ss-h-3 {
  height: 30%;
}

.ss-h-4 {
  height: 40%;
}

.ss-h-5 {
  height: 50%;
}

.ss-h-6 {
  height: 60%;
}

.ss-h-7 {
  height: 70%;
}

.ss-h-8 {
  height: 80%;
}

.ss-h-9 {
  height: 90%;
}

.ss-h-10 {
  height: 100%;
}

.ss-h-auto {
  height: auto;
}

.ss-w-0 {
  width: 0;
}

.ss-w-1 {
  width: 10%;
}

.ss-w-2 {
  width: 20%;
}

.ss-w-3 {
  width: 30%;
}

.ss-w-4 {
  width: 40%;
}

.ss-w-5 {
  width: 50%;
}

.ss-w-6 {
  width: 60%;
}

.ss-w-7 {
  width: 70%;
}

.ss-w-8 {
  width: 80%;
}

.ss-w-9 {
  width: 90%;
}

.ss-w-10 {
  width: 100%;
}

.ss-w-auto {
  width: auto;
}
