.ss-col, .ss-half, .ss-third, .ss-two-third, .ss-three-quarter, .ss-quarter
  float: left
  width: 100%

.ss-col
  &.s1
    width: 8.33333%

  &.s2
    width: 16.66666%

  &.s3
    width: 24.99999%

  &.s4
    width: 33.33333%

  &.s5
    width: 41.66666%

  &.s6
    width: 49.99999%

  &.s7
    width: 58.33333%

  &.s8
    width: 66.66666%

  &.s9
    width: 74.99999%

  &.s10
    width: 83.33333%

  &.s11
    width: 91.66666%

  &.s12
    width: 99.99999%

@media (min-width: 601px)
  .ss-col
    &.m1
      width: 8.33333%

    &.m2
      width: 16.66666%

    &.m3
      width: 24.99999%

  .ss-quarter
    width: 24.99999%

  .ss-col.m4, .ss-third
    width: 33.33333%

  .ss-col
    &.m5
      width: 41.66666%

    &.m6
      width: 49.99999%

  .ss-half
    width: 49.99999%

  .ss-col
    &.m7
      width: 58.33333%

    &.m8
      width: 66.66666%

  .ss-two-third
    width: 66.66666%

  .ss-col.m9, .ss-three-quarter
    width: 74.99999%

  .ss-col
    &.m10
      width: 83.33333%

    &.m11
      width: 91.66666%

    &.m12
      width: 99.99999%

@media (min-width: 993px)
  .ss-col
    &.l1
      width: 8.33333%

    &.l2
      width: 16.66666%

    &.l3
      width: 24.99999%

    &.l4
      width: 33.33333%

    &.l5
      width: 41.66666%

    &.l6
      width: 49.99999%

    &.l7
      width: 58.33333%

    &.l8
      width: 66.66666%

    &.l9
      width: 74.99999%

    &.l10
      width: 83.33333%

    &.l11
      width: 91.66666%

    &.l12
      width: 99.99999%
