.ss-anim-top {
  position: relative;
  animation: anim-top 0.4s;
}

@keyframes anim-top {
  from {
    top: -300px;
    opacity: 0;
  }
  
  to {
    top: 0;
    opacity: 1;
  }
}

.ss-anim-bottom {
  position: relative;
  animation: anim-bottom 0.4s;
}

@keyframes anim-bottom {
  from {
    bottom: -300px;
    opacity: 0;
  }

  to {
    bottom: 0;
    opacity: 1;
  }
}

.ss-anim-left {
  position: relative;
  animation: anim-left 0.4s;
}

@keyframes anim-left {
  from {
    left: -300px;
    opacity: 0;
  }
  
  to {
    left: 0;
    opacity: 1;
  }
}

.ss-anim-right {
  position: relative;
  animation: anim-right 0.4s;
}

@keyframes anim-right {
  from {
    right: -300px;
    opacity: 0;
  }
  
  to {
    right: 0;
    opacity: 1;
  }
}

.ss-anim-zoom {
  animation: anim-zoom 0.6s;
}

@keyframes anim-zoom {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.ss-anim-kenburns {
  animation: anim-kenburns 5s ease-out both;
}

@keyframes anim-kenburns {
  0% {
    transform: scale(1) translateY(0);
    transform-origin: 50% 16%;
  }
  100% {
    transform: scale(1.25) translateY(-15px);
    transform-origin: top;
  }
}

.ss-anim-bgpan {
  animation: anim-bgpan 8s both;
}

@keyframes anim-bgpan {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

.ss-anim-ping {
  animation: anim-ping 0.8s ease-in-out infinite both;
}

@keyframes anim-ping {
  0% {
    transform: scale(0.2);
    opacity: 0.8;
  }
  80% {
    transform: scale(1.2);
    opacity: 0;
  }
  100% {
    transform: scale(2.2);
    opacity: 0;
  }
}

.ss-anim-fading {
  animation: anim-fading 10s infinite;
}

@keyframes anim-fading {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.ss-anim-opacity {
  animation: anim-opac 0.8s;
}

@keyframes anim-opac {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.ss-anim-bounce {
  animation: anim-bounce 0.9s both;
}

@keyframes anim-bounce {
  0% {
    transform: translateY(-45px);
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    transform: translateY(-24px);
    animation-timing-function: ease-in;
  }
  65% {
    transform: translateY(-12px);
    animation-timing-function: ease-in;
  }
  82% {
    transform: translateY(-6px);
    animation-timing-function: ease-in;
  }
  93% {
    transform: translateY(-4px);
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

.ss-spin {
  animation: anim-spin 2s infinite linear;
}

@keyframes anim-spin {
  0% {
    transform: rotate(0deg);
  }
  
  100% {
    transform: rotate(359deg);
  }
}

.ss-anim-input {
  transition: width 0.4s ease-in-out;
}

.ss-anim-input:focus {
  width: 100%!important;
}

.ss-anim-jello {
  animation: anim-jello 0.9s both;
}

@keyframes anim-jello {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
