$spacing-shortcuts: ("margin": "m", "padding": "p") !default
$spacing-directions: ("top": "t", "bottom": "b", "left": "l", "right": "r") !default
$spacing-horizontal: "x" !default
$spacing-vertical: "y" !default
$spacing-values: ("0": 0, "1": 4px, "2": 8px, "3": 12px, "4": 16px, "5": 24px, "6": 48px, "7": 64px, "auto": auto) !default

@each $property, $shortcut in $spacing-shortcuts
  @each $name, $value in $spacing-values
    // All directions
    .ss-#{$shortcut}-#{$name}
      #{$property}: $value!important
    // Cardinal directions
    @each $direction, $suffix in $spacing-directions
      .ss-#{$shortcut}#{$suffix}-#{$name}
        #{$property}-#{$direction}: $value!important
    // Horizontal axis
    @if $spacing-horizontal != null
      .ss-#{$shortcut}#{$spacing-horizontal}-#{$name}
        #{$property}-left: $value!important
        #{$property}-right: $value!important
    // Vertical axis
    @if $spacing-vertical != null
      .ss-#{$shortcut}#{$spacing-vertical}-#{$name}
        #{$property}-top: $value!important
        #{$property}-bottom: $value!important
